<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwarez.technocrew.esabhsad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESabhsad">
        <activity android:name=".adminActivityClass.RegisterUser"></activity>
        <activity android:name=".adminActivityClass.SahyogiActivity" />
        <activity android:name=".adminActivityClass.NivaranActivity" />
        <activity android:name=".adminActivityClass.SamsyeActivity" />
        <activity android:name=".adminActivityClass.VerifyOTPActivity" />
        <activity android:name=".adminActivityClass.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>